@use '@/shared/assets/styles/abstracts' as *;

.titleFrame {
  width: 100%;
  padding: 0 20px;
  margin-top: 78px;
}

.title {
  font-family: var(--font-suite), 'SUITE', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.11px;
  color: #222;
  margin: 0 0 8px 0;
}

.subtitle {
  font-family: var(--font-suite), 'SUITE', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.1px;
  color: #000;
  margin: 0;
  white-space: pre-line;
}
