.button {
  color: var(--base);
  border-radius: 52px;
  line-height: 24px;
  font-size: 16px;
}

.default {
  background-color: #ff6400;
  color: #ffffff;
}

.secondary {
  background-color: #dde2ce;
  color: #003223;
}

.full {
  width: 100%;
}

.button:disabled {
  background-color: rgba(221, 226, 206, 1);
  color: #ffffff;
}
