.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem 1.6rem;
}

.header {
  margin-bottom: 3rem;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4;
  color: #111111;
  font-family: "SUITE", sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  flex: 1;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.inputWithButton {
  display: flex;
  gap: 1.2rem;
  align-items: flex-end;

  > div {
    flex: 1;
  }
}

.checkButton {
  position: absolute;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%);

  width: 5.8rem;
  height: 2.8rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem;

  background: #ebf2d7;
  color: #04790a;
  border: none;

  font-family: var(--font-pretendard);
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.submitButton {
  margin-top: auto;
  width: 100%;
}
