.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--base-background);
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2.4rem 2rem;
  max-width: 100%;
}

.title {
  font-family: var(--font-suite);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: -0.02em;
  color: var(--gray100);
  margin-bottom: 3.2rem;
  white-space: pre-wrap;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2.4rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.submitButton {
  margin-top: auto;
  width: 100%;
  height: 5.6rem;
  border-radius: 12px;
  background: var(--orange800);
  color: var(--base-white);
  font-family: var(--font-pretendard);
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0;
  border: none;
  transition: all 0.2s;

  &:active:not(:disabled) {
    background: var(--orange800);
  }

  &:disabled {
    background: var(--gray30);
    color: var(--gray60);
    cursor: not-allowed;
  }
}
