.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("/img/auth/back-masking.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

