.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10.7rem;
}

.subtitle {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0px;
  color: rgba(88, 158, 58, 1);
  margin-bottom: 0.2rem;
}

.title {
  font-family: SUITE;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3rem;
  letter-spacing: -0.5px;
  color: rgba(17, 17, 17, 1);
  margin-bottom: 2.9rem;
}
