.container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.label {
  position: absolute;
  top: 1.2rem;
  left: 1.6rem;
  font-family: var(--font-pretendard);
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6rem;
  color: #5f646f;
  pointer-events: none;
  z-index: 1;
  transition: color 0.2s;

  &.focused {
    color: var(--success);
  }

  &.error {
    color: var(--danger);
  }
}

.input {
  width: 100%;
  height: 6.8rem;
  padding: 3rem 4.8rem 1.2rem 1.6rem;
  font-family: var(--font-pretendard);
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: var(--gray100);
  background-color: var(--base-white);
  border: 1px solid #e5e9e2;
  border-radius: 12px;
  box-shadow: 0px 16px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease-in-out;

  &.hasActionButton {
    padding-right: 8rem;
  }

  &::placeholder {
    color: #c5c8ce;
    font-size: 1.7rem;
    font-weight: 400;
  }

  &:focus {
    outline: none;
    border: 1px solid var(--success);
    background-color: var(--base-white);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px var(--base-white) inset;
    -webkit-box-shadow: 0 0 0px 1000px var(--base-white) inset;
    caret-color: var(--gray100);
    border: 1px solid var(--success);
  }

  &.focused {
    border-color: var(--success);
    background-color: var(--base-white);
  }

  &:disabled {
    background-color: var(--gray10);
    color: var(--gray50);
    cursor: not-allowed;
  }

  &[readonly] {
    cursor: pointer;

    &:focus {
      border-color: var(--success);
    }
  }

  &.error {
    border-color: var(--danger);
  }
}

.clearButton {
  position: absolute;
  right: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.errorMessage {
  font-family: var(--font-pretendard);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--danger);
}

.helperText {
  font-family: var(--font-pretendard);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: var(--gray60);
}
