.splashTitle {
  position: absolute;
  top: 6.25rem; // 100px → rem
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 10;
  width: 100%;
}

.splashMainTitle {
  font-family: "SUITE", sans-serif;
  font-weight: 800;
  font-size: 2.6rem;
  line-height: 3.2rem;
  letter-spacing: -0.065rem; // -1.04px → rem
  color: #003223;
  margin-bottom: 1.2rem;
}

.splashSubTitle {
  font-family: "SUITE", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: -0.05rem; // -0.8px → rem
  color: #5d8b5b;
}

